// Section Styles

section {
    margin: 2rem 0;
}

.full-width {
    .flex(center, center);

    div {
        width: 100%;
        margin: 2rem;
    }
}

.two-col {
    .flex(space-around, center);

    div {
        width: 45%;
    }
}

.three-col {
    .flex(space-around, center);

    @media @tablet {
        .flexcol(center, center);
    }

    div {
        width: 28%;

        @media @tablet {
            width: 95%;
        }
    }
}